<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Dica do dia</title>
  </head>
  <body>
    <h1>Dica do dia</h1>
    <main>
      <div class='text-red-500'>
        <h2>TERMO</h2>
      </div>
      <div class='tip-seciton'>
        <h2>Artigo</h2>
      </div>
      <div class='tip-seciton'>
        <h2>Conexo</h2>
      </div>
    </main>
  </body>
</html>