<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Dica do dia</title>
  </head>
  <body class='px-10 flex justify-center flex-col items-center'>
    <h1 class='text-5xl'>Dica do dia</h1>
    <main class='flex gap-4 mt-10'>
      <div class=''>
        <h2 class='text-2xl'>TERMO</h2>
        <div class='text-lg'>
          <p>Dicas</p>
          <p>Termo: </p>
          <p>Dueto: </p>
          <p>Quarteto: </p>
        </div>
      </div>
      <div class=''>
        <h2>Artigo</h2>
      </div>
      <div class='tip-seciton'>
        <h2>Conexo</h2>
      </div>
    </main>
  </body>
</html>